footer {
  align-items: center;
  background-image: url('../../images/nature.png');
  background-size: cover;
  color: rgb(49, 49, 49);
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  gap: 0.5rem;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 0 1rem;
  text-align: center;
  width: 100%;
}

footer p a:active,
footer p a:visited {
  color: rgb(49, 49, 49);
}

footer p a:hover {
  color: rgb(238, 107, 47);
}

footer img {
  width: 15px;
}
