.card {
  border-radius: 5px;
  margin: 0 auto;
  max-width: 35vw;
}

.card-item {
  display: grid;
  grid-template-columns: 1fr;
  height: 200px;
  justify-items: center;
  margin: 0 auto;
  padding: 0.5rem;
  width: 200px;
}

.card-title {
  color: rgb(43, 43, 43);
  text-transform: capitalize;
}

.card-image {
  align-self: end;
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .card-title,
  .card-image {
    padding-right: 4rem;
  }
}
