.search-area {
  height: 100vh;
}

.search-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 2rem 0;
}

.search-bar label {
  font-size: 1.5rem;
}

.search-bar input {
  border: 1.75px solid rgb(17, 51, 114);
  border-radius: 3px;
  padding: 0.6rem 0.8rem;
  text-indent: 6px;
  width: 350px;
}

.search-bar input:focus {
  background-color: rgba(93, 185, 255, 0.103);
  border: 1.75px solid rgb(0, 117, 190);
  outline: none;
}

.suggestion-area {
  height: 50vh;
  margin: 0 auto;
  max-height: 100vh;
  overflow-y: scroll;
  width: 350px;
}

.suggestion-area::-webkit-scrollbar {
  width: 0.5rem;
}

.suggestion-area::-webkit-scrollbar-thumb {
  background: rgba(93, 185, 255, 0.801);
  border-radius: 3px;
  border-right: 1px solid #faf6ed;
}

.suggestion-area::-webkit-scrollbar-track {
  background: none;
  cursor: pointer;
}

.suggestion-item {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
}

.suggestion-item:hover {
  background-color: rgba(93, 185, 255, 0.103);
}

.suggestion-item img {
  margin-left: 10px;
}

.suggestion-item p {
  align-self: flex-end;
  height: 15px;
  margin: auto 0;
  text-transform: capitalize;
}

.search-button {
  background-color: transparent;
  background-image: url('../../images/pokebola-fechada.png');
  background-size: cover;
  border: none;
  cursor: pointer;
  height: 60px;
  position: relative;
  width: 60px;
}

.search-button:after {
  content: 'BUSCAR';
  font-weight: 700;
  position: absolute;
  left: 7px;
  bottom: -15px;
}

.search-button:hover {
  background-image: url('../../images/pokebola-aberta.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  color: transparent;
  cursor: pointer;
}